- content_for :head do
  %script{ :type => "text/javascript",
           :src => js_map_url }

.container-fluid
  .row
    .col-md-3.scrollable
      - @points.each do |point|
        .point
          %h4
            = point.name
            %span.coords= point.location
          .streetview{ :id => "point_#{point.id}", :data => { :streetview => streetview_point_url(point, :format => :json) }}
    #map.col-md-9{ :data => { :points => points_url(:format => :json) }}
