- content_for :head do
  %script{ :type => 'text/javascript',
           :src => js_map_url }
  = javascript_include_tag 'StyledMarker'

.container-fluid
  .row
    .col-md-3.scrollable
      .point
        = render 'form', :point => @point

    #map.col-md-9{ :data => { :singlepointpath => coords_url(:lat => '59.91199', :lng => '10.75806', :format => :json) }}
