- title 'Welcome'

.container
  %h3 So what is the point of this site?

  %p
    As a photographer one of the things I am interested in photographing is stars - starry skies, star tracks etc. And for
    that you need to have clear skies.

  %p
    This site allows you to register locations and then simply displays the cloud data for those points for the next few
    days (at present it appears that approx 3 days are available).

  %p
    You can log in with several social networks - just click on Login in the User menu to the right to see which are available.
    We do this to avoid having to know your password. We will ask for the minimum we can to get login to work - apart from
    e-mail. E-mail is used for notifications only (not yet implemented). We don't use any of this information to post to
    the network in use - it's simply for login.

  %p
    If you are logged in on one network and then head to the My Profile page under User then you can add other logins - this
    will allow you to login via any of the networks and be the same user here.

  %p
    Locations you mark as public are visible to everyone. Private are visible only to you and will require login. We have no
    sharing of locations to private groups (as of yet - still thinking about how to implement it).

  %p
    Any problems - or if you want the source code - see <a href="https://github.com/chrissearle/clouds">the github project</a>.
