@import "bootstrap-sprockets";
@import "bootstrap";
@import "framework_and_overrides";
@import "map";
@import "points";
@import "providers";

body {
  overflow: hidden;
}

main {
  padding-left: 0;
  padding-right: 0;
}