div.point {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid silver;
  cursor: pointer;

  h4 {
    font-size: 1.0em;
  }

  span.edit {
    font-size: 0.6em;
  }

  span.coords {
    font-size: 0.6em;
    float: right;
  }

  img {
    padding-bottom: 15px;
  }
}

div.scrollable {
  overflow-y: scroll;
}
