div.provider {
  text-align: center;
  float: left;
  width: 150px;
  line-height: 52px;

  a img {
    border: 0;
    margin: 10px;
    vertical-align: middle;
    display: inline;
  }
}

div.login {
  text-align: center;
  float: left;
  width: 150px;

  img {
    border: 0;
    margin: 10px;
    display: inline;
  }
}
